<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile · Vritta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7/dist/typeit.min.js"></script>
    <style>
        body {
            /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(''); */
            /* Replace with your background image URL */
            background-size: cover;
            background-position: center;
        }

        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

        .lorafonts {
            font-family: "Lora", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-11 rounded-lg shadow-lg w-full max-w-3xl flex border hover:grid-2 hover:grid-amber-700"
        style="background-color: #ffffff;">
        <div class="w-1/2">
            <h1 class="text-4xl lorafonts">Vritta · Set Up Account</h1>
            <br>
            <div class="text-lg lorafonts" id="hero"></div>
            <div class="flex items-center mb-6">
                <!-- <img src="https://example.com/adobe-logo.png" alt="Adobe Logo" class="h-8 mr-2"> -->
                <!-- Replace with the Adobe logo URL -->
            </div>

        </div>
        <div class="w-1/2 ml-10">
            <form class="lorafonts" action="/user/<%= user.id %>/profile/setup" method="post">
                <div class="space-y-4">
                    <input type="email" name="fullName" value="<%= user.fullName %>"
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Nama Lengkap</label>

                    <input type="text" name="nickName" value=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Nickname</label>

                    <input type="text" value="username"
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Username</label>

                    <input type="text" name="profilePict" value=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Profile Picture</label>

                    <input type="date" name="birthdate" value="<%= reversedDate(user.birthdate) %>"
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Birth Date</label>

                    <select name="gender" id=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                        <option value="Female" <% if(user.gender==='Female' ) { %> selected <% } %>>Female</option>
                        <option value="Male" <% if(user.gender==='Male' ) { %> selected <% } %>>Male</option>
                    </select>
                    <label class="font-semibold mt-1">Gender</label>
                </div>
                <div class="mt-6">
                    <button type="submit" id="Update Profile"
                        class="w-full py-2 px-4 border border-transparent rounded-md text-sm font-medium bg-amber-400 hover:bg-amber-500 focus:outline-none hover:ring-2 hover:ring-amber-600 focus:ring-offset-2 focus:ring-amber-500">
                        Continue
                    </button>
                </div>
            </form>
        </div>

    </div>

    <script>
        new TypeIt("#hero", {
            strings: ["Lengkapi profil akun mu", "untuk memulai."],
            speed: 50,
            waitUntilVisible: true,
        }).go();
    </script>
</body>

</html>