<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium Replica</title>
    <link rel="stylesheet" href="./style/landingstyle.css">
</head>

<body>
    <div class="navigation">
        <div class="logo">
            <h3 class="logostyle">[%] Median</h3>
        </div>
        <div class="menu">
            <a href="https://medium.com/about" class="menu-item">Cerita kami</a>
            <a href="https://medium.com/membership" class="menu-item">Jadi anggota</a>
            <a href="https://medium.com/partner-program" class="menu-item">Mulai menulis</a>
            <a href="#" class="menu-item">Masuk</a>
            <button class="rounded-button navButton">Mulai Median</button>
        </div>
    </div>

    <div class="hero">
        <h1>Terus Ingin Tahu.</h1>
        <div class="childHero">
            <h2 class="contentHero">Temukan cerita, buah pikiran, dan pengalaman dari penulis<br>dalam berbagai topik.
            </h2>
        </div>
        <button class="rounded-button">
            Mulai membaca
        </button>
    </div>

    <footer>
        <a href="https://help.medium.com/hc/en-us" class="m-10">Bantuan</a>
        <a href="" class="m-10">Status</a>
        <a href="" class="m-10">Tentang</a>
        <a href="" class="m-10">Karir</a>
        <a href="" class="m-10">Blog</a>
        <a href="" class="m-10">Keamanan</a>
        <a href="" class="m-10">Syarat</a>
        <a href="" class="m-10">Text to Speech</a>
        <a href="" class="m-10">Tim kami</a>
    </footer>
</body>

</html>