<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Profle Setup</h1>

<form action="/user/<%= user.id %>/profile/setup" method="post">
  Full Name <br> <input type="text" name="fullName" id="" value="<%= user.fullName %>"> <br>
  Nick Name <br> <input type="text" name="nickName" id=""> <br>
  username <br> <input type="text" name="username" id=""> <br> <!--ini bikin unique//hapus-->
  Birth date <br> <input type="date" name="birthdate" id="" value="<%= reversedDate(user.birthdate) %>"> <br>
  Gender <br> <select name="gender" id="">
    <option value="Female" <% if(user.gender ==='Female' ) { %> selected <% } %>>Female</option>
    <option value="Male"<% if(user.gender ==='Male' ) { %> selected <% } %>>Male</option>
  </select>
  <br>
  Profile Picture <br> <input type="text" name="profilePict" id=""> <br>
  <input type="submit" name="" id="Update Profile">
  </form>
  
</body>
</html>