<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Profle Setup</h1>

  <form action="">

<form action="/user/setupProfile">
  Full Name <br> <input type="text" name="" id=""> <br>
  Nick Name <br> <input type="text" name="" id=""> <br>
  username <br> <input type="text" name="" id=""> <br> <!--ini bikin unique//hapus-->
  Birth date <br> <input type="text" name="" id=""> <br>
  Gender <br> <input type="text" name="" id=""> <br>
  Profile Picture <br> <input type="text" name="" id=""> <br>


</form>
  </form>
  
</body>
</html>