<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register </title>
</head>
<body>

  <h1>Register Account</h1>

    <form action="/register" method="post">
    Full Name <br> <input type="text" name="fullName" id=""> <br>
    Gender <br> <select name="gender" id="">
      <option value="" selected disabled>-- Selecet Option--</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <br>
    Birth Date <br> <input type="date" name="birthdate" id=""> <br>
    Email <br> <input type="text" name="email" id=""> <br>
    Password <br> <input type="text" name="password" id=""> <br>
    <input type="submit" name="" id="" value="Create Account!">
    </form>

  
</body>
</html>