<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vritta · Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7/dist/typeit.min.js"></script>
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./bookvector2.jpg');
            /* Replace with your background image URL */
            background-size: cover;
            background-position: center;
        }

        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

        .lorafonts {
            font-family: "Lora", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-11 rounded-lg shadow-lg w-full max-w-3xl flex" style="background-color: #ffffff;">
        <div class="w-1/2">
            <h1 class="text-4xl lorafonts">Vritta · Sign Up</h1>
            <br>
            <div class="text-lg lorafonts" id="hero"></div>
            <div class="flex items-center mb-6">
            </div>

        </div>
        <div class="w-1/2 ml-10">
            <form class="lorafonts" action="/register" method="post">
                <div class="space-y-4">
                    <input name="fullName" placeholder=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Nama Lengkap</label>

                    <input name="email" placeholder=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Alamat Email</label>

                    <input name="password" type="password" placeholder=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Password</label>

                    <input name="birthdate" type="date" placeholder=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <label class="font-semibold mt-1">Birth Date</label>

                    <select name="gender" id=""
                        class="w-full px-3 py-2 border text-slate-950 bg-transparent border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-600">
                        <option value="" selected disabled></option>
                        <option value="Lelaki">Lelaki</option>
                        <option value="Perempuan">Perempuan</option>
                    </select>
                    <label class="font-semibold mt-1">Gender</label>
                </div>
                <div class="mt-6">
                    <button type="submit"
                        class="w-full py-2 px-4 border border-transparent rounded-md text-sm font-medium bg-amber-400 hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-amber-600 focus:ring-offset-2 focus:ring-amber-500">
                        Continue
                    </button>
                </div>
                <div class="relative my-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-900"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-white text-gray-500"></span>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="/login" class="text-sm text-black-600 hover:underline">Sudah punya akun? Mari masuk!</a>
                </div>
            </form>
        </div>

    </div>

    <script>
        new TypeIt("#hero", {
            strings: ["Semua orang punya sesuatu untuk diceritakan.", "Mulai mendaftar!"],
            speed: 50,
            waitUntilVisible: true,
        }).go();
    </script>
</body>

</html>